@mixin button {
  border-radius: $base-border-radius;
  box-sizing: border-box;
  display: inline-block;
  font-weight: $font-weight-bold;
  padding: 0.75em 1.25em;
  text-align: center;
  text-transform: uppercase;
}

@mixin button-solid($color) {
  @include button;
  background-color: $color;
  color: white;
  border: em(2) solid $color;

  &:hover {
    color: white;
    background-color: darken($color, 4);
    border-color: darken($color, 4);
  }
}

@mixin button-outline($color) {
  @include button;
  border: em(2) solid $color;
  color: $color;

  &:hover {
    color: white;
    background-color: $color;
  }
}

.main-cta {

  @include button-solid($base-accent-color);
}

.secondary-cta {

  @include button-outline($base-accent-color);
}
