.footer {
  background: $base-footer-color;
  color: $white;
  padding: 2em 0;
}

.footer-container {
  margin: 0 auto;
  width: 100%;
}

.footer-thoughtbot-logo {
  background-image: url("/images/thoughtbot-logo.png");
  background-repeat: no-repeat;
  background-size: auto 2em;
  float: right;
  height: 2em;
  width: 7.5em;
}
