@import "buttons";

.hero {
  background: $base-hero-color;
  text-align: center;
  color: $dark-gray;
}

.hero-headline {
  font-size: $base-font-size * 1.8;
  font-weight: $font-weight-normal;
  margin-top: 2em;
}

.hero-description {
  font-size: $base-font-size * 1.25;
  display: block;
  margin: 1.3em 0;
  font-weight: $font-weight-normal;
}

.hero-cta {
  @include button-solid($base-accent-color);
}


.hero-image {
  background-image: url("/images/hero-banner.png");
  background-size: auto 18.7em;
  background-repeat: no-repeat;
  height: 19em;
  width: 100%;
  margin: 4em auto 0;
}
