.introduction {
  background-color: $light-gray;
}

.introduction-container.active {
  margin-top: $global-nav-height;
}

.introduction-item {

  &:last-child {
    margin-bottom: 0;
  }

    @include fill-parent;
    @include clearfix;
    display: block;
    margin-bottom: 6em;
}

.introduction-item-graphic-wrapper,
.introduction-item-text-wrapper {
    @include span-columns(6 of 12);
    padding: 2em;
}

.introduction-item-text-wrapper {
    margin-top: 4em;
    text-align: left;
    float: left;
}

.introduction-image-body {
  height: em(300);
  background-image: url("/images/yelna-home.png");
  background-size: auto 17em;
  background-repeat: no-repeat;
}

.introduction-item-header {
  color: $dark-gray;
  margin: 0 0 0.75em;
}

.introduction-item-text {
  font-size: $base-font-size;
}

