@import "buttons";

.introduction {
}

.section-gray {
  background-color: $light-gray;
}

.introduction-container.active {
  margin-top: $global-nav-height;
}

.introduction-item {

  &:last-child {
    margin-bottom: 0;
  }

    @include fill-parent;
    @include clearfix;
    display: block;
    margin-bottom: 6em;
}

.introduction-item-graphic-wrapper,
.introduction-item-text-wrapper {
    @include span-columns(6 of 12);
    padding: 2em;
}

.introduction-item-text-wrapper {
    margin-top: 4em;
    text-align: left;
    float: left;
}

.introduction-image-body {
  height: em(300);
  background-image: url("/images/yelna-home.png");
  background-size: auto 17em;
  background-repeat: no-repeat;
}

.introduction-item-header {
  color: $dark-gray;
}

.introduction-item-text {
  font-size: $base-font-size;
}

.preview .sales .workflow {
  text-align: center;
}

.preview-code-block {
  background-color: $dark-gray;
  border-radius: $base-border-radius;
  box-sizing: border-box;
  color: $light-yellow;
  display: inline-block;
  font-weight: $font-weight-normal;
  padding: 0.75em 1.25em;
  text-align: center;
}

.workflow-item-wrapper {
  margin-top: 4em;
}

.workflow-icon-section {

  @include span-columns(4 of 12);
}

.workflow-icons {
  height: 12em;
  background-size: auto 12em;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 12em;
}

.icon-one {
  background-image: url("/images/icon-1-landing.png");
}

.icon-two {
  background-image: url("/images/icon-2-landing.png");
}

.icon-three {
  background-image: url("/images/icon-3-landing.png");
}

.workflow-text {
  margin-top: 1em;

  @include span-columns(8 of 12);
  @include shift(2);
}

.sales-text {
  display: block;
  width:60%;
  margin: 0 auto 1.3em;
}

.sales-cta {
  @include button-solid($light-pink);
}
