<nav class="global-nav" data-waypoint="global-nav">
  <section class="wrap-container">
    <header class="global-nav-item logo-text">
      <a href="/" class="logo-text">Paperback</a>
      </header>

      <ul class="global-nav-list">
        <li class="global-nav-item">
          <a href="/about.html">About</a>
        </li>
        <li class="global-nav-item">
          <a href="/getting-started.html">Get Started</a>
        </li>
      </ul>
    </section>
</nav>
