<nav class="global-nav" data-waypoint="global-nav">
  <section class="wrap-container">
    <header class="global-nav-item logo-text">
      <div class="logo-text">Paperback</div>
      </header>

      <ul class="global-nav-list">
        <li class="global-nav-item">
          Nav1
        </li>
        <li class="global-nav-item">
          Nav2
        </li>
      </ul>
    </section>
</nav>
