<section class="body-content-container wrap-container">
  <h3 class="hero-headline">
    Don't Be A Yak Shaver. Write Your Book With Paperback.
  </h3>
  <div class="about-hero-image"></div>
  <div class="about-main-content-wrapper">
    <h5 class="about-description">
      Paperback helps technical authors standardize and streamline ebook production. 
    </h5>
    <h5 class="about-description">
      Instead of wasting valuable time on complex toolchains and formatting work, use just one command and you’re good to go. Authors can:
    </h5>
    <ul class="about-bullet-points">
      <li>
        Write everything in Markdown
      </li>
      <li>
        View changes in real time
      </li>
      <li>
        Collaborate with others using GitHub
      </li>
      <li>
        Benefit from pre-defined styles
      </li>
      <li>
        Publish in multiple formats
      </li>
      <li>
        Sell to a wide audience
      </li>
    </ul>
    <h5 class="about-description">
      Paperback gives you the control of using your own workflow while simplifying the set-up and publishing process. Focus all your attention on what you came to do - writing your book.
    </h5>
    <a href="/getting-started.html" class="main-cta">
      Get started now
    </a>
    <div class="about-icon-section">
      <div class="about-icon about-icon-one">
      </div>
    </div>
  </div>
</section>
