<section class="body-content-container wrap-container">
  <h3 class="hero-headline">
    Getting Started With Paperback
  </h3>
  <div class="about-hero-image"></div>
  <div class="about-main-content-wrapper">
    <h5 class="about-description">
      Coming Soon
    </h5>
    <br>
    <a href="/about.html" class="main-cta">
      Visit about page 
    </a>
  </div>
</section>
