<%= partial 'partials/global_nav' %>
<header class="hero">
  <section class="body-content-container wrap-container">
    <h2 class="hero-headline">Write Like You Code</h2>
    <h3 class="hero-description">Paperback takes care of generating ebook formats<br> so that you can focus on writing.</h3>
    <div class="button">
      become an author now
    </div>
    <div class="hero-image"></div>
  </section>
</header>

<section class="introduction">
  <div class="body-content-container wrap-container">
    <div class="introduction-container">
      <div class="introduction-item">
        <div class="introduction-item-text-wrapper">
          <h4 class="introduction-item-header">
             Don't Be A Yak Shaver 
          </h4>
          <p class="introduction-item-text">
             Paperback gives you the control of using your own workflow while simplifying the set-up and publishing process. Focus all your attention on what you came to to - writing your book.
          </p>
          <p class="introduction-item-text">
           learn more > 
          </p>
        </div>
      <div class="introduction-item">
        <div class="introduction-item-graphic-wrapper">
          <div class="introduction-image-body"></div>
        </div>
      </div>
    </div>
  </div>
</section>

