<%= partial 'partials/global_nav' %>
<header class="hero">
  <section class="body-content-container wrap-container">
    <h2 class="hero-headline">Write Like You Code</h2>
    <h3 class="hero-description">Paperback takes care of generating ebook formats<br> so that you can focus on writing.</h3>
    <a href="/" class="hero-cta">
      become an author now
    </a>
    <div class="hero-image"></div>
  </section>
</header>

<section class="introduction section-gray">
  <div class="body-content-container wrap-container">
    <div class="introduction-container">
      <div class="introduction-item">
        <div class="introduction-item-text-wrapper">
          <h4 class="introduction-item-header">
             Don't Be A Yak Shaver 
          </h4>
          <p class="introduction-item-text">
             Paperback gives you the control of using your own workflow while simplifying the set-up and publishing process. Focus all your attention on what you came to to - writing your book.
          </p>
          <a href="/" class="introduction-item-text">
            learn more >
          </a>
        </div>
      <div class="introduction-item">
        <div class="introduction-item-graphic-wrapper">
          <div class="introduction-image-body"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="preview">
  <div class="body-content-container wrap-container">
    <h4 class="preview-header">
      Preview Your Content While You Write
    </h4>
    <p class="preview-text">
      No external dependencies. Install in less than 10 seconds.
    </p>
    <div class="preview-code-block">
      $ brew install paperback
    </div>
  </div>
</section>

<section class="workflow section-gray">
  <div class="body-content-container wrap-container">
    <div class="workflow-container">
      <h4 class="workflow-item-header">
          You Provide The Workflow, We Provide The Magic
      </h4>
      <div class="workflow-item-container">
        <div class="workflow-item">
          <div class="workflow-item-wrapper">
            <div class="workflow-icon-section">
              <div class="workflow-icons icon-one"></div>
              <div class="workflow-text">
                Write using Markdown in your favorite text editor
              </div>
            </div>
            <div class="workflow-icon-section">
              <div class="workflow-icons icon-two"></div>
              <div class="workflow-text">
                Push changes and collaborate using GitHub
              </div>
            </div>
            <div class="workflow-icon-section">
              <div class="workflow-icons icon-three"></div>
              <div class="workflow-text">
                Publish in a variety of formats with one click
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sales">
  <div class="body-content-container wrap-container">
    <h4 class="sales-header">
        When It Comes To Sales, We've Got You Covered
    </h4>
    <p class="sales-text">
      Once you hit publish, you’ll already be set up to accept payments, take orders, and allow customers to download your book instantaneously.  If you don’t want to use this, no problem! All rights to your books are yours. 
    </p>
    <a href="/" class="sales-cta">
      browse most recent books 
    </a>
  </div>
</section>
<%= partial 'partials/global_footer' %>
