<section class="body-content-container wrap-container">
  <h3 class="hero-headline">
    See How Other eBook Publishers Stack Up
  </h3>
  <section class="plans">
    <div class="inner">
      <nav class="features">
        <ol>
          <li>
            <a href="#one">LaTeX</a>
          </li>
          <li>
            <a href="#two">Markdown</a>
          </li>
          <li>
            <a href="#three">In Browser Editing</a>
          </li>
          <li>
            <a href="#four">Template Styles</a>
          </li>
          <li>
            <a href="#five">One Step Set-Up</a>
          </li>
          <li>
            <a href="#six">Automatic Preview</a>
          </li>
        </ol>
      </nav>
    </div>
    <section class="plan">
      <h3>Paperback</h3>
      <ol>
        <li class="check-lg">
          <img alt="Pricing x" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-x-fea1207423ba5efe0b8085ef5f7b37aa.svg">
        </li>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
      </ol>
      <h5 class="recommended-service">Best for technical authors</h5>
    </section>
    <section class="plan">
      <h3>Softcover</h3>
      <ol>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
        <li class="check-lg">
          <img alt="Pricing x" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-x-fea1207423ba5efe0b8085ef5f7b37aa.svg">
        </li>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
      </ol>
      <h5 class="recommended-service">Best for math-oriented books</h5>
    </section>
    <section class="plan">
      <h3>Atlas</h3>
      <ol>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
        <li class="check-lg">
          <img alt="Pricing check lg" src="//d3v2mfwlau8x6c.cloudfront.net/assets/pricing-check-lg-122fadb85f300ff15736c5464230d89e.svg">
        </li>
      </ol>
      <h5 class="recommended-service">Best for non-technical authors</h5>
    </section>
  </section>
  <section class="more-information">
    <ol>
      <li id="one">
        <h5>LaTeX</h5>
        <p>tieoureiou eoiur eoi ureoiu eoiur eiu eroiu :testing all this text here testing testing testing testing testing testing testing</p>
      </li> 
      <li id="two">
        <h5>Markdown</h5>
        <p>testing all this text here testing testing testing testing testing testing testing</p>
      </li> 
      <li id="three">
        <h5>In Browser Editing</h5>
        <p>testing all this text here</p>
      </li> 
      <li id="four">
        <h5>Template Styles</h5>
        <p>testing all this text here</p>
      </li> 
      <li id="five">
        <h5>One Step Set-Up</h5>
        <p>testing all this text here</p>
      </li> 
      <li id="six">
        <h5>Automatic Preview</h5>
        <p>testing all this text here</p>
      </li> 
    </ol>
  </section>
</section>
