.wrap-container {
  @include outer-container;
}

.centered-content {
  @include fill-parent;
  @include clearfix;
  text-align: center;
}

.body-content-container {
  position: relative;
  padding: 6em 0;
}

h1 {
    padding-bottom: 0.35em;
    margin-bottom: 0.35em;
  }

hr {
  width: 75%;
  margin: 4em auto;
}
